* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-size: 14px;
  margin: 0;
}

p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin: 0;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin: 0;
}

h4 {
  font-size: 24px;
  margin: 0;
}

h5 {
  font-size: 26px;
  margin: 0;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  margin: 0;
}

.h6_30 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin: 0;
}

/* App.css or your global CSS */
.custom-toast {
  background: #0f0f57;
  color: #fff;
  border-left: 5px solid #00d9ff;
  padding: 12px;
  font-family: sans-serif;
}